<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Name filter fragment -->
<div th:fragment="filter-form(tableId)">
    <div class="card mb-3">
        <div class="filter-container mb-4 p-3 bg-light rounded">
            <div class="row" th:with="departmentOptions=${departments}">
                <div class="col-md-3 mb-2">
                    <label class="form-label" th:for="${tableId + '_nameFilter'}">ФИО</label>
                    <input type="text" class="form-control"
                           th:id="${tableId + '_nameFilter'}"
                           th:attr="data-table-id=${tableId}"
                           placeholder="Искать по имени"
                           th:oninput="debounceFilter(nameFilterInterpreters, this)" />
                </div>

                <div class="col-md-3 mb-2">
                    <label class="form-label" th:for="${tableId + '_monthFilter'}">Месяц</label>
                    <input type="text" class="form-control"
                           th:id="${tableId + '_monthFilter'}"
                           th:attr="data-table-id=${tableId}"
                           placeholder="Искать по месяцу"
                           th:oninput="debounceFilter(filterByMonthInterpreters, this)" />
                </div>

                <div class="col-md-3 mb-2">
                    <label class="form-label" th:for="${tableId + '_departmentFilter'}">Направление</label>
                    <select class="form-select"
                            th:id="${tableId + '_departmentFilter'}"
                            th:attr="data-table-id=${tableId}"
                            th:onchange="debounceFilter(departmentFilterInterpreters, this)">
                        <option value="">Все направления</option>
                        <option th:each="department : ${departmentOptions}"
                                th:value="${department}"
                                th:text="${department}"></option>
                    </select>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="button" class="btn btn-success w-100"
                            onclick="exportToExcel('interpreters')">
                        <i class="bi bi-file-excel"></i> Excel
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>