<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Name filter fragment -->
<div th:fragment="filter-form(tableId)">

    <div class="card mb-3">
        <div class="filter-container mb-4 p-3 bg-light rounded">
            <div class="row" th:with="departmentOptions=${departments}">
                <div class="col-md-4 mb-2">
                    <label class="form-label" th:for="${tableId + '_departmentFilter'}">Направление</label>
                    <select class="form-control form-select"
                            th:id="${tableId + '_departmentFilter'}"
                            th:attr="data-table-id=${tableId}"
                            th:onchange="departmentFilter(this)">
                        <option value="">Все направления</option>
                        <option th:each="department : ${departmentOptions}"
                                th:value="${department.name}"
                                th:text="${department.name}"
                                th:attr="data-department-id=${department.id}"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>