<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>AltaPersonnel</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>


</head>


<div th:replace="~{navigation :: navi(Home)}" />

<div class="container">
    <br>
    <h1>Альта Персонал</h1>
    <!--<img src="images/1.bmp">-->
    Добро пожаловать в Альту!
    <div th:text="${firstName}" ></div>


<!--<form th:action="@{/bonus/all1}" method="get">-->
    <form th:action="@{/bonus/getall}" method="get">

    <input required th:value="${date1 != null} ? ${date1}" th:name="date1" type="date" placeholder="Дата от ">
    <input required th:value="${date2 != null} ? ${date2}" th:name="date2" type="date" placeholder="Дата до">


    <button type="submit" class="btn btn-primary">Бонусы</button>
</form>

<form th:action="@{/payment/allpayment3}" method="get">
    <input required th:value="${date1 != null} ? ${date1}" th:name="date1" type="date" placeholder="Дата от ">
    <input required th:value="${date2 != null} ? ${date2}" th:name="date2" type="date" placeholder="Дата до">


    <button type="submit" class="btn btn-primary">Выплаты</button>

</form>
</div>

</body>
</html>