
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        #myTable {
            table-layout: auto;
            border-collapse: collapse;
            width: 100%;

            border: 1px solid #ddd;
            font-size: 18px;

        }
        tr:hover td {background: #e8edff;}

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;

        }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
        .container {
            display: flex;
        }


    </style>
    <meta charset="utf-8"/>

    <title>Выплаты</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</head>

<body>

<div th:replace="~{navigation :: navi(Cart)}"/>

<div class="container" xmlns:th="http://www.w3.org/1999/xhtml" style="margin-right:auto;margin-left:0px">
    <div class="col-md-12">

            <h1 th:text="Выплаты" />

            <form th:action="@{/payment/allpayment1}" method="get">
                <input required th:value="${date1 != null} ? ${date1}" th:name="date1"  type="date"  placeholder="Дата от ">
                <input required th:value="${date2 != null} ? ${date2}" th:name="date2" type="date"  placeholder="Дата до">

                <input type="text" id="inputName" onkeyup="myFunction()" placeholder="Поиск по фамилии.." title="Find in a name">
                <input type="text" id="inputDepartment" onkeyup="searchDep()" placeholder="Поиск по отделу.." title="Find in a department">

                <button type="submit" class="btn btn-primary">Фильтровать</button>

            </form>



            <div class="panel-body">
                    <table id="myTable" class="table table-bordered border-primary">
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Департамент</th>
                        <th>Всего Бонус</th>
                        <th>Бонус за кандидата</th>
                        <th>Имя кандидата</th>
                        <th>Компания</th>
                        <th>Номер акта</th>
                        <th>Процент</th>
                        <th>Дата акта</th>
                        <th>Дата выплаты бонуса</th>
                        <th>Дата оплаты клиентом</th>
                    </thead>

                    <tbody>



                        <tr th:each="userPaymentBonuses,iterStat : ${userPaymentBonuses}" >
                            <form th:action="@{/payment/confirm}" method="post" th:object="${userPaymentBonuses}">


                        <td th:text="${userPaymentBonuses.fio}" type="text" name="fio"  th:value="${userPaymentBonuses.fio}"/>
<!--                                <input type="text" name="fio"  th:value="${userPaymentBonuses.fio}" />-->
                        <td th:text="${userPaymentBonuses.department}"/>
                        <td th:text="${userPaymentBonuses.allBonus}"/>


                            <td>

<!--                                <form th:action="@{/payment/confirm}" th:object="${userPaymentBonus}" method="post" >-->
<!--                                    <a href="/payment/confirm?param1=bonus¶m2=value2" method="post">-->
                                    <span th:each="bonus : ${userPaymentBonuses.bonus}" >
                                        <input th:value="${bonus}" th:name="paymentSum" type="checkbox">


<!--                                        th:value="${userPaymentBonuses}" th:name="userPaymentBonus"-->

                                    <!--

                                    <span th:each="bonus : ${userPaymentBonuses.bonus}" >
                                        <input th:value="${bonus}" th:name="paymentSum"   type="checkbox">
                                        <input th:value="${userPaymentBonuses}" th:name="userPaymentBonus">
                                        <form type="checkbox"  th:action="@{/payment/edit}" th:object="${userPaymentBonuses}" method="post" enctype="multipart/form-data"/>-->
                                <span th:text="${bonus}" /></span>





                        <td>
                            <span th:each="candidateName : ${userPaymentBonuses.candidateName}">
                                <span th:text="${candidateName}" /></span>
                        </td>

                        <td>
                            <span th:each="companyName : ${userPaymentBonuses.companyName}">
                                <span th:text="${companyName}" /></span>
                        </td>
                        <td>
                            <span th:each="actNum : ${userPaymentBonuses.actNum}">
                                <span th:text="${actNum}" /></span>
                        </td>

                        <td th:text="${userPaymentBonuses.percent}"/>
                        <td th:text="${userPaymentBonuses.dateAct}"/>
                        <td th:text="${userPaymentBonuses.dateForPay}"/>
                        <td th:text="${userPaymentBonuses.paymentDate}"/>

                    </tr>
                    <button type="submit" class="btn btn-primary">Применить</button>

                    </form>

                </tbody>

            </table>


        </div>
    </td>
</tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputName");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function searchDep() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputDepartment");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


</body>
</html>