

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .nomarker{
            list-style-type: none;
            padding: 0px;

        }
        table td{
            text-align: left;
        }

    </style>
    <meta charset="utf-8"/>

    <title>Выплаты</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/postScript.js.js"></script>

    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>



</head>

<body>
<div hx-include="#checked-contacts" hx-target="#tbody">
    <a class="btn" hx-put="/activate">Activate</a>
    <a class="btn" hx-put="/deactivate">Deactivate</a>
</div>

<div th:replace="~{navigation :: navi(Cart)}"/>

<div class="container" xmlns:th="http://www.w3.org/1999/xhtml" style="margin-right:auto;margin-left:0px">
    <div class="col-md-12">

        <h1 th:text="Выплаты" />


        <p  th:text="Всего  + ' ' + к + ' ' + оплате + ': '  + ${allMoney}" >

        <p  th:text="Из  + ' ' + них + ': '  + ${moneyByDate}" >

        <p  th:text="Оплачено  + ':  ' + ${allPaymentMoney}" >

        <p  th:text="Осталось  + ':  ' + ${allNotPaymentMoney}" >


        <form th:action="@{/payment/allpayment3}" method="get">


            <input required th:value="${date1 != null} ? ${date1}" th:name="date1"  type="date"  placeholder="Дата от ">
            <input required th:value="${date2 != null} ? ${date2}" th:name="date2" type="date"  placeholder="Дата до">

            <input type="text" id="inputName" onkeyup="myFunction()" placeholder="Поиск по фамилии.." title="Find in a name">
            <input type="text" id="inputDepartment" onkeyup="searchDep()" placeholder="Поиск по отделу.." title="Find in a department">

            <button type="submit" class="btn btn-primary">Фильтровать</button>

        </form>

        <form id="checked-contacts" action="#"   >

<!--        <form id="checked-contacts" action="#" th:action="@{/payment/confirm}" method="post"  >-->


            <div class="panel-body">
                <table id="myTable" class="table table-bordered border-primary">
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Департамент</th>
                        <th>Всего Бонус</th>
                        <th>Процент</th>
                        <th>Бонус за кандидата</th>
                        <th>Кандидат</th>
                        <th>Компания</th>
                        <th>Номер акта</th>
                        <th>Дата акта</th>
                        <th>Дата выплаты бонуса</th>
                        <th>Дата оплаты клиентом</th>
                        <th>Дата оплаты компанией</th>
                        <th>Оплативший сотрудник</th>
                        <th>test</th>


                    </thead>
                    <tbody hx-target="closest tr" hx-swap="outerHTML">

                    <tr hx-trigger='cancel' class='editing' hx-post="/payment/confirm"  th:each="employer, iterStat : ${employerList}" th:object="${employersList}">
<!--                        <tr>-->
                            <td th:text="${employer.manFIO}"></td>
                            <td th:text="${employer.userDepartment}"></td>
                            <td th:text="${employer.allBonusRUB}"></td>
                            <td>
                                <ul class="nomarker">
                               <span th:each="percent : ${employer.percent}">
                                 <li>
                                    <span style="white-space: nowrap"  th:text="${percent}"/></span>
                                </li>
                                </ul>
                            </td>



                        <td>
                                <ul class="nomarker">
                                <span style="white-space: nowrap" th:each="act : ${employer.actList}" >
                                    <li>
                                    <input hx-put="/contact/${contact.id}" hx-include="closest tr" id="agreement" type="checkbox" name="fio"
                                            th:value="${act.bonus} +
                                     '/' + ${employer.manId} + '/' + ${act.id} + '/' + ${act.candidate} + '/' + ${act.projects} + '/' + ${act.paid}"
                                            th:checked="${act.paid} ? 'checked'"  th:onclick="submit()" >
                                    <span th:text="${act.bonusRUB}" /></span>

                                </span>
                                    </li>
                                </ul>


                            </td>


                            <td>
                                <ul class="nomarker">
                                        <span th:each="act : ${employer.actList}">
                                            <li>
                                        <span style="white-space: nowrap" th:text="${act.candidate}"/></span>
                                    </li>
                                </ul>

                            </td>



                            <td>
                                <ul class="nomarker">
                                <span th:each="act : ${employer.actList}">
                                     <li>
                                    <span style="white-space: nowrap"  th:text="${act.companies}" /></span>
                                    </li>
                                </ul>

                            </td>
                            <td>
                                <ul class="nomarker">
                                <span th:each="act : ${employer.actList}">
                                      <li>
                                   <span style="white-space: nowrap"  th:text="${act.num}"/></span>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nomarker">
                                <span th:each="act : ${employer.actList}">
                                     <li>
                                <span style="white-space: nowrap"  th:text="${act.date}" /></span>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nomarker">
                                <span th:each="act : ${employer.actList}">
                                     <li>
                                <span style="white-space: nowrap"  th:text="${act.dateForPay}"/></span>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="nomarker">
                                <span th:each="act : ${employer.actList}">
                                    <li>
                                <span style="white-space: nowrap"  th:text="${act.datePayment}"/></span>
                                    </li>
                                </ul>
                            </td>

                            <td>
                                <ul class="nomarker">
                                <span th:each="act : ${employer.actList}">
                                    <li>
                                <span style="white-space: nowrap"  th:text="${act.paymentRealDate}"/></span>
                                    </li>
                                </ul>
                            </td>

                            <td>
                                <ul class="nomarker">
                                <span th:each="act : ${employer.actList}">
                                    <li>
                                <span style="white-space: nowrap"  th:text="${act.employerPaid}"/></span>
                                    </li>
                                </ul>
                            </td>



                        <td>
                            <button class="btn btn-danger" hx-put="/payment/confirm" hx-include="closest tr">
                                Save
                            </button>
                        </td>

<!--                        <td>-->
<!--                            <button class="btn btn-success btn-lg" onclick="eventCheckBox()">Glenkinchie</button>-->
<!--                        </td>-->

                    </tr>
                    </tbody>

                </table>


            </div>
            </td>
            </tr>


            </table>



        </form>

        <script>
            function myFunction() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("inputName");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }

            function searchDep() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("inputDepartment");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }


        </script>


</html>
