
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />

<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div th:replace="~{navigation :: navi(Home)}" />
            <div class="panel-heading">
                Выплаты
            </div>

            <h1 th:text="Фильтры" />

            <form th:action="@{/payment/allpayment1}" method="get">
                <input th:value="${date1 != null} ? ${date1}" th:name="date1" type="date" placeholder="Дата от ">
                <input th:value="${date2 != null} ? ${date2}" th:name="date2" type="date" placeholder="Дата до">

<!--                <div>-->
<!--                    <label for="date1">Date of birth:</label>-->
<!--                    <input type="date" th:field="${#temporals.monthNameShort(date)}" id="date1"/>-->
<!--                </div>-->
<!--                <label for="date-started">Date started:</label>-->
<!--                <input type="date" th:value="${date1}" th:field="${date1}" id="date-started"/>-->


                <div class="col-lg-3" th:object="${employers}">
                    <select class="form-control" id="userName" name="userName">
                        <option value="">Фамилия</option>
                        <option th:each="employers :${employers}"
                                th:value="${employers}"
                                th:text="${employers}"></option>
                    </select>
                </div>
                <div class="col-lg-3" th:object="${department}">
                    <select class="form-control" id="departmentName" name="departmentName">
                        <option value="">Отдел</option>
                        <option th:each="department :${department}"
                                th:value="${department}"
                                th:text="${department}"></option>
                    </select>
                </div>
<!--                <input th:value="${userName != ''} ? ${userName}" th:name="userName" type="text" placeholder="Фамилия">-->
<!--                <input th:value="${departmentName != ''} ? ${departmentName}" th:name="departmentName" type="text" placeholder="Направление">-->
                <button type="submit" class="btn btn-primary">Фильтровать</button>

            </form>

            <div class="panel-body">
<!--                <table class="table table-condensed table-striped">-->
                <table class="table table-bordered border-primary">
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Должность</th>
                        <th>Департамент</th>
                        <th>Всего Бонус</th>
                        <th>Бонус за кандидата</th>
                        <th>Имя кандидата</th>
                        <th>Компания</th>
                        <th>Номер акта</th>
                        <th>Процент</th>
                        <th>Месяц акта</th>
                        <th>Год акта</th>
                        <th>Дата выплаты</th>
                        <th>Дата оплаты</th>
                    </thead>

                    <tbody>


                    <tr th:each="userPaymentBonuses,iterStat : ${userPaymentBonuses}">
                        <td th:text="${userPaymentBonuses.fio}"/>
                        <td th:text="${userPaymentBonuses.position}"/>
                        <td th:text="${userPaymentBonuses.department}"/>
                        <td th:text="${userPaymentBonuses.allBonus}"/>

                        <td>
                            <span th:each="bonus : ${userPaymentBonuses.bonus}">
                                <span th:text="${bonus}" /></span>
                        </td>
                        <td>
                            <span th:each="candidateName : ${userPaymentBonuses.candidateName}">
                                <span th:text="${candidateName}" /></span>
                        </td>

                        <td>
                            <span th:each="companyName : ${userPaymentBonuses.companyName}">
                                <span th:text="${companyName}" /></span>
                        </td>
                        <td>
                            <span th:each="actNum : ${userPaymentBonuses.actNum}">
                                <span th:text="${actNum}" /></span>
                        </td>

                        <td th:text="${userPaymentBonuses.percent}"/>
                        <td th:text="${userPaymentBonuses.monthNumAct}"/>
                        <td th:text="${userPaymentBonuses.yearAct}"/>
                        <td th:text="${userPaymentBonuses.dateForPay}"/>
                        <td th:text="${userPaymentBonuses.paymentDate}"/>


                    </tr>



                </tbody>

            </table>

        </div>
    </td>
</tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>


</body>
</html>