<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <title>Кнопка-путешественник</title>
    <!-- подключаем стили -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- основной контейнер -->
<div id="container">
    <!-- блок с будущим корабликом -->
    <!-- сначала идёт мачта -->
    <div id="mast">
        <!-- паруса, которые на старте лежат в сложенном виде -->
        <div id="sail-1"></div>
        <div id="sail-2"></div>
    </div>
    <!-- кнопка, на которую нажимаем -->
    <button type="button" id="buttoun">Подтвердите заказ</button>
</div>

<!-- рабочий скрипт -->
<script  src="./script.js"></script>
</body>
</html>